<div class="row justify-content-center mt-5">
  <div class="col-12 col-sm-8 col-md-5">
    <div class="card border-0 shadow-sm">
      <div class="card-body">
        <h1 class="h4 mb-4">Sign in</h1>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= f.input :email, autofocus: true, autocomplete: 'email' %>
          <%= f.input :password, autocomplete: 'current-password' %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          <%= f.submit 'Sign in', class: 'btn btn-primary w-100' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
